<div class="jumbotron">
	<h3>Insert New Record</h3>
	<form method="post" action="/save_new_record">
		<label>Name</label>
		<input class="form-control" type="text" name="name">
		<label>Email</label>
		<input class="form-control" type="text" name="email" >
		<hr>
		<button class="btn btn-info">submit</button>
	</form>
</div>