


<div class="jumbotron container">
    <h4> login page </h4>
    <form method="post" action="/register">
        <label>Username</label>
        <input class="form-control" type="text" name="username">
        <label>Email</label>
        <input class="form-control" type="text" name="email">
        <label>password</label>
        <input class="form-control" type="password" name="password">
        <hr/>
        <button class="btn btn-primary">Register</button>
    </form>

    <a href="/login">login</a>


</div>